
:root{
  --dourado: #49370a;
  --cinza: rgb(73, 69, 69);
}
body{
  margin: 0
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(12, [start] 1fr);
}

nav{
  grid-column: start / span 12;
  background-color: black;
  display: flex;
  box-sizing: border-box;
  padding: 2%;
  justify-content: space-between;
  height: 12dvh;
  grid-row: 1;
}
nav .navbar-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dourado);
  font-family: 'Montserrat-Thin';
  font-size: 4vw;
}
.navbar-links{
  display: flex;
  justify-content: flex-end;
}
header{
  grid-column: start / span 12;
  background-image: url(imagem/fundo1.jpg);
  background-size: cover;
  height: 100vh;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}
@font-face {
  font-family: Montserrat-Thin;
  src: url(fontes/Montserrat-Thin.ttf);
}
@font-face {
  font-family: Lato-Regular;
  src: url(fontes/Lato-Regular.ttf);
}
header h1{
  font-family: 'Montserrat-Thin';
  color: var(--dourado);
  font-size: 15vw;
  margin: 0;
}
.header-subtitulo{
  font-family: 'Lato-Regular';
  color: var(--cinza);
  font-size: 5vw;
  margin: 0;
}
.header-slogan{
  font-family: 'Lato-Regular';
  color: var(--cinza);
  font-size: 6vw;
  margin: 0;
}
header a{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--dourado);
  padding: 4%;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Lato-Regular';
  font-size: 5vw;
  color: var(--dourado);
}
